.post-container {
  border-bottom: 1px solid #555555;
}

.post-details:not(.post-no-comments)::after {
  content: '...';
  font-size: 30px;
  display: block;
  letter-spacing: 0.5rem;
  text-align: center;
  color: #ff4500;
}

.post-author {
  font-style: italic;
}
