.subreddit-form-label {
  vertical-align: text-top;
  height: 32px;
  line-height: 1.1875em;
  padding-top: 6px;
}

.subreddit-input {
  margin-bottom: 10px;
  margin-left: -18px;
}

.subreddit-form {
  text-align: center;
}

.subreddit-form-loading {
  margin: auto;
}
